{{#if records}}
<ul class="accordion" data-accordion data-allow-all-closed="true" style="width:100%;">
    {{#each records}}
    <li class="accordion-item" data-accordion-item data-allow-all-closed="true" style="width:100%;">
        <a href="#" class="accordion-title">{{title}}</a>
        <div class="accordion-content" data-tab-content>
            {{body}}
        </div>
    </li>
    {{/each}}
</ul>
{{/if}}