form {
	width: 100%;
	margin: 10px;
	margin-top: 10px;
}

input[type="submit"] {
	display: inline-flexbox;
	padding: 5px;
	border-radius: 5px;
}

h6 {
	font-weight: bolder;
}

input[type="text"] {
	border: none;
}

.button {
	font-weight: bolder;
}

.button .success {
	font-size: 1.3rem;
}

.accordion-title {
	font-weight: bolder;
	font-size: .9rem;
}

.tabs-title a {
	font-weight: bolder;
	font-size: 1rem;
}

input[type="text"],
input[type="email"] {
	font-weight: normal;
	font-size: 1.4rem;
}

input:read-only,
textarea:read-only {
	background-color: aliceblue;
	color: black;
	border: none;
	border-radius: 10px;
	padding: 10px;
}
